<!--The content below is only a placeholder and can be replaced.-->

<div>
  <app-header></app-header>
</div>
<ng-template [ngIf]="ms.manage_wrpr == true">
  <div class="margin_wrpr">
    <app-progress-bar></app-progress-bar>
  </div>
</ng-template>
<ng-template [ngIf]="ms.manage_wrpr == true">
  <div class="manage_wrpr">
    <h3 class="import_contacts">Import your contacts</h3>
    <h4 class="help">Help?</h4>
  </div>
</ng-template>
<ng-template [ngIf]="ms.manage_wrpr == true">
  <div class="inner_container">
    <div class="card_wrpr">
      <div class="card_header">{{ms.card_header_text}}</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="ms.manage_wrpr == false">
  <router-outlet></router-outlet>
</ng-template>