<div class="main_wrpr">
  <div class="inner_wrpr">
    <div class="icon_container" [routerLink]="['/loader']">
      <i class="fab fa-google fa-2x" style="color: #334559"></i>
    </div>
    <div class="icon_name">Google</div>
  </div>
  <div class="inner_wrpr">
    <div class="icon_container">
      <i class="fab fa-facebook-f fa-2x" style="color: #334559"></i>
    </div>
    <div class="icon_name">Facebook</div>
  </div>
  <div class="inner_wrpr">
      <div class="icon_container">
          <i class="fas fa-address-card fa-2x" style="color: #334559"></i>
      </div>
      <div class="icon_name">Contacts</div>
    </div>

 
</div>